.installsection{
color: #79A7FC;
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding-top: 15px;
margin-bottom: 20px;
height: 5vh;
}

.installProcess {
    height: 84vh;
    background-color: #D3313A;
}